/* MOBILE-FIRST APPROACH */

/* changing fonts & font sizes */
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    line-height: 1.2em;
}

p, nav, a {
    font-family: 'Karla', sans-serif;
    line-height: 1.2em;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.424rem;
}

p {
    font-size: 16px;
}

nav {
    font-size: 14px;
}

/* styling buttons */
.btn-white {
    background-color: #fff;
    border: #fff solid 2px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 45%;
    text-align: center;
    margin: 1em auto;
    padding: 0.75em 1.25em;
    transition: 0.2s linear;
}

.btn-white:hover {
    background-color: #966f2c;
    border: #fff solid 2px;
    color: #fff;
    transition: 0.2s linear;
}

.btn-ghost {
    border: #fff solid 2px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 45%;
    text-align: center;
    margin: 1em auto;
    padding: 0.75em 1.25em;
    transition: 0.2s linear;
}

.btn-ghost:hover {
    background-color: #fff;
    border: #fff solid 2px;
    color: #000;
    transition: 0.2s linear;
}

.btn-black {
    background-color: #000;
    border: #000 solid 2px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 30%;
    text-align: center;
    margin: 1em 0;
    padding: 0.75em 1.25em;
    transition: 0.2s linear;
}

.btn-black:hover {
    background-color: #966f2c;
    border: #966f2c solid 2px;
    transition: 0.2s linear;
}

/* changing background colour for entire page */
body {
    background-color: #f3f0e9;
}

/* reusable elements */
.description {
    color: #d69e3d;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0.5em 0;
}

/* styling header */
header {
    background-color: #000;
}

.logo {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.logo img {
    width: 45%;
}

nav {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline;
    padding: 1em;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 750;
    color: #fff;
    transition: 0.2s linear;
}

nav a:hover {
    color: #d69e3d;
    transition: 0.2s linear;
}

/* styling banner section */
.banner {
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    background-position: center;
}

.shadow {
    background-color: rgb(0, 0, 0, 50%);
}

.banner .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 7em;
    padding-bottom: 5em;
}

.banner h1 {
    font-weight: 750;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.banner p {
    text-align: center;
    color: #fff;
    padding: 1em;
}

/* styling welcome section */
.welcome .container {
    width: 95%;
    margin: auto;
    padding-top: 4em;
}

.welcome h2 {
    color: #323232;
    font-weight: 650;
    padding-bottom: 1em;
}

.welcome img {
    width: 100%;
}

.welcome .img {
    padding-bottom: 1em;
}

.welcome .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

/* styling benefits section */
.benefits .container {
    width: 85%;
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 5em;
}

.benefits .description {
    text-align: center;
}

.benefits h2 {
    color: #323232;
    font-weight: 650;
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

.benefits img {
    width: 40%;
    display: block;
    margin: auto;
}

.benefits h3 {
    color: #323232;
    font-weight: 650;
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase;
}

.benefits p:not(.description) {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 4em;
}

/* styling menu section */
.menu {
    background-image: url(../images/coffee-shop.jpeg);
    background-size: cover;
    background-position: center;
}

.menu .container {
    width: 80%;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 5em;
}

.menu .description {
    text-align: center;
}

.menu h2 {
    color: #fff;
    font-weight: 650;
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

.menu .btn-white {
    margin-bottom: 3em;
}

/* styling about section */
.about .container {
    width: 95%;
    margin: auto;
    padding: 5em 0;
}

.about img {
    width: 100%;
    padding-bottom: 0.5em;
}

.about h2 {
    color: #323232;
    font-weight: 650;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

.about p:not(.description) {
    padding-bottom: 0.5em;
}

/* styling testimonials section */
.testimonials {
    background-color: #000;
    padding: 4em 0;
}

.testimonials .container {
    width: 95%;
    margin: auto;
    /* padding-top: 4em; */
}

.testimonials h2 {
    color: #fff;
    font-weight: 650;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

.testimonials p:not(.description) {
    color: #fff;
}

.testimonials .customers {
    padding: 1em;
    padding-top: 25em;
    margin: 1em 0;
}

.testimonials .num1 {
    background-image: url(../images/testimonial-1.jpeg);
    background-size: cover;
    background-position: center;
}

.testimonials .num2 {
    background-image: url(../images/testimonial-2.jpeg);
    background-size: cover;
    background-position: top;
}

.testimonials .num3 {
    background-image: url(../images/testimonial-3.jpeg);
    background-size: cover;
    background-position: top;
}

/* styling footer */
footer {
    background-color: #000;
    position: relative;
    bottom: 1em;
}

footer hr {
    border-color: #000;
}

footer p {
    color: #fff;
    text-align: center;
    padding-bottom: 4em;
}

/* TABLET */